@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/* body {
    text-align: center;
} */

/* Container */
#container {
    margin: auto;
    margin-top: 50px;
    width: 800px;
    height: 800px;
    background-image: linear-gradient(to bottom , red, rgb(248, 63, 63), rgb(255, 146, 146), rgb(255, 255, 255));
    position: relative;
}

/* content */
#content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 450px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.377);
}

/* imagem */

img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 50px;
}

#olhoSenha {
    position: absolute;
    left: 290px;
    top: 216px;
    width: 18px;
    height: 18px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    text-align: center;
    margin-right: 56px;
    margin-top: 5px;
    margin-bottom: 5px;
}

label:nth-child(5) {
    margin-right: 130px;
}

input {
    display: block;
    margin: auto;
    height: 18px;
    padding: 3px;
    padding-left: 10px;
}

input:nth-child(4):hover, input:nth-child(6):hover {
    box-shadow: 0px 0px 10px rgb(255, 31, 31);
}

#btLogar {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    background-color: rgb(252, 134, 134);
}

#btLogar:hover {
    border: 2px solid rgba(0, 0, 0, 0.247);
}

p {
    text-align: center;
    margin-top: 9px;
}

a:hover {
    text-decoration: none;
    color: red;
}