@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/* Container */
#container {
    margin: auto;
    margin-top: 50px;
    width: 800px;
    height: 800px;
    background-image: linear-gradient(to bottom , red, rgb(248, 63, 63), rgb(255, 146, 146), rgb(255, 255, 255));
    position: relative;
}

/* content */
#content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.377);
}

h2 {
    margin-top: 20px;
    text-align: center;
}


input {
    display: block;
    margin: auto;
    width: 180px;
    height: 18px;
    padding: 3px;
    padding-left: 10px;
    margin-top: 10px;
}

input:nth-child(3):hover {
    box-shadow: 0px 0px 10px rgb(255, 31, 31);
    transition: all 0.5s;
}

#btPesquisar {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    background-color: rgb(252, 134, 134);
}

#btPesquisar:hover {
    border: 2px solid rgba(0, 0, 0, 0.247);
}
p {
    text-align: center;
}

pre {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 9px;
}

a {
    display: block;
    text-align: center;
    margin-top: 8px;
    font-weight: bolder;
    color: black;
}

a:hover {
    text-decoration: none;
    color: red;
}